<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h1>Добавить пользователя</h1>

<form th:action="@{/users/add}" th:object="${user}" method="post">

    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}" required>

    <label for="age">Возраст:</label>
    <input type="text" id="age" th:field="*{age}" required>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>

    <button type="submit">Сохранить</button>
</form>

<br>
<a th:href="@{/users}">Назад к списку</a>
</body>
</html>